body {
	background-color: #000011;
	color: #EEEEFE;
}

* {
	font-family: sans-serif;
}

input, textarea {
	background-color: #000022;
	color: #EEEEFE;
	border-radius: 5px;
}

.post {
	border-color: #B0B0B0;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
}
